<ion-tab-bar slot="bottom">

  <ion-tab-button routerLink="/dashboard">
    <ion-icon name="home-outline"></ion-icon>
    <ion-label>Dashboard</ion-label>
  </ion-tab-button>

  <ion-tab-button routerLink="/workout-schedule">
    <ion-icon name="barbell-outline"></ion-icon>
    <ion-label>Workouts</ion-label>
  </ion-tab-button>

  <ion-tab-button routerLink="/track-nutrition">
    <ion-icon name="nutrition-outline"></ion-icon>
    <ion-label>Nutrition</ion-label>
  </ion-tab-button>

</ion-tab-bar>
